<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TB_RECEIPT">
    <select id="selectOne" resultType="soo.receipt_writer.receipt.repository.Receipt">
        SELECT *
        FROM TB_RECEIPT
        WHERE USER_ID = #{userId}
        ;
    </select>

    <select id="getMaxSeq" parameterType="soo.receipt_writer.receipt.repository.Receipt" resultType="long">
        SELECT COALESCE(MAX(SEQ + 1), 0)
        FROM TB_RECEIPT
        WHERE USER_ID = #{userId}
          AND RECEIPT_YEAR = #{receiptYear}
          AND RECEIPT_DATE = #{receiptDate}
          AND PAYMENT_DATE = #{paymentDate}
        ;
    </select>

    <select id="selectAll" parameterType="String" resultType="soo.receipt_writer.receipt.repository.dto.ReceiptSelectAllDTO">
        SELECT receipt_year
              ,receipt_date
              ,seq
              ,payment_date
              ,payment_amount
              ,payment_location
        FROM TB_RECEIPT
        WHERE USER_ID = #{userId}
          AND DEL_YN = 'N'
        ;
    </select>

    <insert id="insertOne" parameterType="soo.receipt_writer.receipt.repository.Receipt">
        INSERT INTO TB_RECEIPT (
             USER_ID
            ,RECEIPT_YEAR
            ,RECEIPT_DATE
            ,SEQ
            ,PAYMENT_DATE
            ,PAYMENT_AMOUNT
            ,PAYMENT_LOCATION
        )
        VALUES (
             #{userId}
            ,#{receiptYear}
            ,#{receiptDate}
            ,#{seq}
            ,#{paymentDate}
            ,#{paymentAmount}
            ,#{paymentLocation}
        );
    </insert>

    <update id="removeReceipt" parameterType="soo.receipt_writer.receipt.repository.dto.ReceiptRemoveDTO">
        UPDATE TB_RECEIPT
        SET del_yn = 'Y'
        WHERE user_id       = #{userId}
          AND seq           = #{seq}
          AND payment_date  = #{paymentDate}
    </update>
</mapper>