<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TB_RECEIPT">
    <select id="selectOne" resultType="soo.receipt_writer.receipt.repository.dao.ReceiptInsertDAO">
        SELECT *
        FROM TB_RECEIPT
        WHERE USER_ID = #{userId}
        ;
    </select>

    <select id="getMaxSeq" parameterType="soo.receipt_writer.receipt.repository.dao.GetMaxSeqParams" resultType="long">
        SELECT COALESCE(MAX(SEQ + 1), 0)
        FROM TB_RECEIPT
        WHERE USER_ID       = #{userId}
          AND PAYMENT_DATE  = #{paymentDate}
        ;
    </select>

    <select id="selectAllByMonth" parameterType="soo.receipt_writer.receipt.repository.dao.SelectAllByMonthParams" resultType="soo.receipt_writer.receipt.repository.dao.ReceiptSelectAllDAO">
        SELECT payment_date
              ,seq
              ,payment_amount
              ,payment_location
        FROM TB_RECEIPT
        WHERE USER_ID = #{userId}
          AND payment_date BETWEEN #{dateStart} AND #{dateEnd}
          AND DEL_YN = 'N'
        ORDER BY payment_date ${sortBy}
        ;
    </select>

    <insert id="insertOne" parameterType="soo.receipt_writer.receipt.repository.dao.ReceiptInsertDAO">
        INSERT INTO TB_RECEIPT (
             USER_ID
            ,PAYMENT_DATE
            ,SEQ
            ,PAYMENT_AMOUNT
            ,PAYMENT_LOCATION
        )
        VALUES (
             #{userId}
            ,#{paymentDate}
            ,#{seq}
            ,#{paymentAmount}
            ,#{paymentLocation}
        );
    </insert>

    <update id="removeReceipt" parameterType="soo.receipt_writer.receipt.repository.dao.ReceiptRemoveDAO">
        UPDATE TB_RECEIPT
        SET del_yn = 'Y'
        WHERE user_id       = #{userId}
          AND seq           = #{seq}
          AND payment_date  = #{paymentDate}
    </update>

    <select id="monthTotalAmount" parameterType="soo.receipt_writer.receipt.repository.dao.ReceiptMonthTotalAmountDAO" resultType="long">
        SELECT COALESCE(SUM(payment_amount::int), 0)
        FROM TB_RECEIPT
        WHERE user_id = #{userId}
          AND payment_date BETWEEN #{dateStart} AND #{dateEnd}
          AND del_yn = 'N'
    </select>

</mapper>