<!doctype html>
<html lang="en">
<head th:replace="~{common/base :: head}"></head>
<body>
  <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
    <div class="flex flex-col space-y-6">
      <label class="form-control w-full max-w-xs">
        <input id="id-input" type="text" placeholder="아이디를 입력해주세요" class="input input-bordered w-full max-w-xs"/>
      </label>
      <button id="get" class="btn btn-primary w-full max-w-xs">
        로그인
      </button>
      <button class="btn secondary w-full max-w-xs" onclick="location.replace('/register')">
        회원가입
      </button>
    </div>
  </div>
</body>
</html>

<script>
  const getBtn = document.getElementById('get');

  getBtn.addEventListener('click', asyncGetFn);

  async function asyncGetFn() {

    const id = document.querySelector("#id-input").value;

    if (id === "") {
      alert("아이디를 입력해주세요");
      return;
    }

    // 1. rcr을 받아온다
    const json = await (async () => {
      const res = await fetch("/login/authentication_challenge?id=" + id, {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
        },
      })

      return res.json();
    })();

    if (json.status === 'fail') {
      alert("아이디가 존재하지 않습니다");
      return;
    }

    const rcr = json.data;

    // challenge, id는 type 때문에 변환해줌
    rcr.challenge = base64urlToUint8Array(rcr.challenge.value);
    rcr.allowCredentials = rcr.allowCredentials.map((ac) => {
      ac.id = base64urlToUint8Array(ac.id);
      return ac;
    })


    // 브라우저는 ccr을 받아서 navigator.credentials.create 호출해서 option으로 ccr 넣어서 다시 서버로 요청
    const credential = await navigator.credentials.get({
      publicKey: removeNullKeysRecursive(rcr)
    });


    const serializeable = {
      credentialId: credential.id,
      userHandle: bufferToBase64url(credential.response.userHandle),
      authenticatorData: bufferToBase64url(credential.response.authenticatorData),
      clientDataJSON: bufferToBase64url(credential.response.clientDataJSON),
      signature: bufferToBase64url(credential.response.signature),
    };


    const loginResult = await (async () => {
      const res = await fetch("/login/authentication_passkey", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(serializeable),
      })

      return res.json();
    })();

    if (loginResult.status === 'fail') {
      alert(loginResult.message);
      return;
    }

    location.replace("/month-list");
  }

  function bufferToBase64url(buffer) {

    // modified from https://github.com/github/webauthn-json/blob/main/src/webauthn-json/base64url.ts

    const byteView = new Uint8Array(buffer);
    let str = "";
    for (const charCode of byteView) {
      str += String.fromCharCode(charCode);
    }

    // Binary string to base64
    const base64String = btoa(str);

    // Base64 to base64url
    // We assume that the base64url string is well-formed.
    const base64urlString = base64String.replace(/\+/g, "-").replace(
      /\//g,
      "_",
    ).replace(/=/g, "");
    return base64urlString;
  }

  function base64urlToUint8Array(str) {
    return Uint8Array.from(atob(str.replace(/-/g, '+').replace(/_/g, '/').replace(/\s/g, '')), c => c.charCodeAt(0))
  }

  function removeNullKeysRecursive(obj) {
    for (let key in obj) {
      if (obj[key] === null) {
        delete obj[key];
      } else if (typeof obj[key] === 'object') {
        removeNullKeysRecursive(obj[key]);
      }
    }
    return obj;
  }

</script>