<!doctype html>
<html lang="en">
<head th:replace="~{common/base :: head}"></head>
<body>
  <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
    <div class="flex flex-col space-y-6">
      <label class="form-control w-full max-w-xs">
        <input id="id-input" type="text" placeholder="아이디를 입력해주세요" class="input input-bordered w-full max-w-xs" />
      </label>
      <button id="create" class="btn btn-primary w-full max-w-xs">
        회원가입
      </button>
    </div>
  </div>
</body>
</html>

<script>
  const createBtn = document.getElementById('create');

  createBtn.addEventListener('click', asyncFn);

  async function asyncFn() {

    const id = document.querySelector("#id-input").value;

    if (id === "") {
      alert("아이디를 입력해주세요");
      return;
    }

    // 1. challenge를 받아온다
    const getChallenge = await (async () => {
      const res = await fetch("/login/register_challenge?id=" + id, {
        method: "GET",
        headers: {
          "Content-Tydpe": "application/json",
        },
      })

      return res.json();
    })();

    console.log("getChallenge = ", getChallenge);

    if (getChallenge.status === 'fail') {
      alert(getChallenge.message);
      return;
    }

    const ccr = getChallenge.data.publicKey

    // challenge, id는 type 때문에 변환해줌
    ccr.challenge = base64urlToUint8Array(ccr.challenge.value);
    ccr.user.id = base64urlToUint8Array(ccr.user.id);

    // 브라우저는 ccr을 받아서 navigator.credentials.create 호출해서 option으로 ccr 넣어서 다시 서버로 요청
    const credential = await navigator.credentials.create({
      publicKey: removeNullKeysRecursive(ccr)
    });

    const serializeable = {
      attestationObject: bufferToBase64url(credential.response.attestationObject),
      clientDataJSON: bufferToBase64url(credential.response.clientDataJSON),
      clientExtensions: JSON.stringify(credential.getClientExtensionResults()),
    };

    const registerResult = await (async () => {
      const res = await fetch("/login/register_passkey", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(serializeable),
      })

      return res.json();
    })();

    console.log("result = ", registerResult);
  }

  function bufferToBase64url(buffer) {

    // modified from https://github.com/github/webauthn-json/blob/main/src/webauthn-json/base64url.ts

    const byteView = new Uint8Array(buffer);
    let str = "";
    for (const charCode of byteView) {
      str += String.fromCharCode(charCode);
    }

    // Binary string to base64
    const base64String = btoa(str);

    // Base64 to base64url
    // We assume that the base64url string is well-formed.
    const base64urlString = base64String.replace(/\+/g, "-").replace(
      /\//g,
      "_",
    ).replace(/=/g, "");
    return base64urlString;
  }

  function base64urlToUint8Array(str) {
    return Uint8Array.from(atob(str.replace(/-/g, '+').replace(/_/g, '/').replace(/\s/g, '')), c => c.charCodeAt(0))
  }

  function removeNullKeysRecursive(obj) {
    for (let key in obj) {
      if (obj[key] === null) {
        delete obj[key];
      } else if (typeof obj[key] === 'object') {
        removeNullKeysRecursive(obj[key]);
      }
    }
    return obj;
  }

</script>